/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
ul.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
ul.tabs li { display: block; width: auto; height: 30px; padding: 0px 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
ul.tabs li:first-child { padding: 0 9px 0 0px; }
ul.tabs li { display: block; width: auto; height: 30px; padding: 0; float: left; }
ul.tabs li a { display: block; width: auto; height: 29px; padding: 0px 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
ul.tabs li a.active { background: #fff; border-width: 1px 1px 0px 1px; height: 30px; }


div.messages { display: block; padding: 6px 7px; font-weight: bold; font-size: 13px; background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0px 1px rgba(255,255,255,0.9); position: relative; }
.messages.status { background-color: #7fae00; color: #fff; text-shadow: 0px -1px rgba(0,0,0,0.3); }
.messages.warning { background-color: #c08c00; color: #fff; text-shadow: 0px -1px rgba(0,0,0,0.3); }
.messages.error { background-color: #c00000; color: #fff; text-shadow: 0px -1px rgba(0,0,0,0.3); }

.messages a.close { color: #000; position: absolute; right: 4px; top: 0px; font-size: 18px; opacity: 0.2; padding: 4px; }
.messages a.close:hover { opacity: 0.4; }

/* small textfields for sidebar */
.sidebar input.input-text { width: 134px; }

#user-login-form {
  text-align: left;
}

select { 
  border-right: 1px solid #bbb; 
  border-bottom: 1px solid #bbb; 
  font-size: 13px; 
  padding: 4px 3px 2px; 
  outline: none !important; 
  background: #fff;
  border: solid 1px #bbb;
  border-radius: 2px;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  padding: 6px 3px 4px; 
  outline: none !important; 
  background: url(../images/misc/input-bg.png) #fff;
}

h2 small {
  color: #ccc;
}
.view-Projects .views-field-field-project-image-fid {
  float: left;
}

.view-Projects .views-field-title, .view-Projects .views-field-body, .view-Projects .views-field-tid  {
  margin-left: 120px;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


