/* Header */
.site-header {
	margin-top:15px;
}
.site-header h1 {
	font-family: "League Gothic", Impact, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-bottom:0;
}

/* Views */
.view-projects .views-row {
  margin-bottom: 35px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #CCC;
}

h2 {
  color: #666;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
  margin-bottom: 30px;
}