/* Artfully masterminded by ZURB  */

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.site-header {
	margin-top:15px;
}

.alert-box ul {
	margin-bottom:0;
	margin-left:5px;
}

.alert-box ul li {
	margin-bottom: 0;
	list-style-type: disc;
	list-style-position: inside;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 2px solid red !important;
}


/* overriding tabs display */
ul.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
ul.tabs li { display: block; width: auto; height: 30px; padding: 0px 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
ul.tabs li:first-child { padding: 0 9px 0 0px; }
ul.tabs li { display: block; width: auto; height: 30px; padding: 0; float: left; }
ul.tabs li a { display: block; width: auto; height: 29px; padding: 0px 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
ul.tabs li a.active { background: #fff; border-width: 1px 1px 0px 1px; height: 30px; }