/* 
  Foundation 3, artfully masterminded by ZURB
  Core
  grid.css - Twelve column responsive grid
  
  Requires: 
    boxsizing.htc for IE7 support
*/

  .container { padding: 0 20px; }
  
  .row { width: 1000px; max-width: 100%; min-width: 768px; margin: 0 auto; position: relative; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  
  .column, .columns { padding: 0 15px; float: left; min-height: 1px; position: relative; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
  [class*="column"] + [class*="column"].end { float: left; }
  
  .row .one 		{ width: 8.33%; }
  .row .two 		{ width: 16.66%; }
  .row .three 	{ width: 25%; }
  .row .four 		{ width: 33.33%; }
  .row .five 		{ width: 41.66%; }
  .row .six 		{ width: 50%; }
  .row .seven 	{ width: 58.33%; }
  .row .eight 	{ width: 66.66%; }
  .row .nine 		{ width: 75%; }
  .row .ten 		{ width: 83.33%; }
  .row .eleven 	{ width: 91.66%; }
  .row .twelve 	{ width: 100%; }
  
  .row .offset-by-one     { margin-left: 8.33%; }
  .row .offset-by-two     { margin-left: 16.66%; }
  .row .offset-by-three 	{ margin-left: 25%; }
  .row .offset-by-four    { margin-left: 33.33%; }
  .row .offset-by-five    { margin-left: 41.66%; }
  .row .offset-by-six     { margin-left: 50%; }
  .row .offset-by-seven 	{ margin-left: 58.33%; }
  .row .offset-by-eight 	{ margin-left: 66.66%; }
  .row .offset-by-nine    { margin-left: 75%; }
  .row .offset-by-ten     { margin-left: 83.33%; }
  
  .row .centered { float: none; margin: 0 auto; }
  
  /* Source Ordering */
  
  .push-two 		{ left: 16.66%; }
  .push-three 	{ left: 25%; }
  .push-four 		{ left: 33.33%; }
  .push-five 		{ left: 41.66%; }
  .push-six 		{ left: 50%; }
  .push-seven 	{ left: 58.33%; }
  .push-eight 	{ left: 66.66%; }
  .push-nine 		{ left: 75%; }
  .push-ten 		{ left: 83.33%; }
  
  .pull-two 		{ right: 16.66%; }
  .pull-three 	{ right: 25%; }
  .pull-four 		{ right: 33.33%; }
  .pull-five 		{ right: 41.66%; }
  .pull-six 		{ right: 50%; }
  .pull-seven 	{ right: 58.33%; }
  .pull-eight 	{ right: 66.66%; }
  .pull-nine 		{ right: 75%; }
  .pull-ten 		{ right: 83.33%; }
  
  
  
  img, object, embed { max-width: 100%; height: auto; }
  img { -ms-interpolation-mode: bicubic; }
  #map_canvas img, .map_canvas img {max-width: none!important;}
  
  /* Nicolas Gallagher's micro clearfix */
  .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
  .row:after, .clearfix:after { clear: both; }
  .row, .clearfix { zoom: 1; }


  /* Mobile */
  @media only screen and (max-width: 767px) {		
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .container { min-width: 0; margin-left: 0; margin-right: 0; padding: 0; }
    
    .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
    
    .column, .columns { width: auto !important; float: none;  }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    
    .column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
    .column:after, .columns:after { clear: both; }
    
    .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }
    
    .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
    .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
    
    /* Mobile 4-column Grid */
    .row .phone-one, .row .phone-two, .row .phone-three, .row .phone-four { float: left; padding: 0 15px; }
    .row .phone-one:last-child, .row .phone-two:last-child, .row .phone-three:last-child, .row .phone-four:last-child { float: right; }
    
    .row .phone-one 	{ width: 25% !important; }
    .row .phone-two 	{ width: 50% !important; }
    .row .phone-three 	{ width: 75% !important; }
    .row .phone-four 	{ width: 100% !important; }
    
    .row .push-one-phone { left: 25%; }
    .row .push-two-phone { left: 50% }
    .row .push-three-phone { left: 75% }
    
    .row .pull-one-phone { right: 25% }
    .row .pull-two-phone { right: 50% }
    .row .pull-three-phone { right: 75%; }
  
  }



/*	--------------------------------------------------
:: Block grids

These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */

  .block-grid { display: block; overflow: hidden; }
  .block-grid>li { display: block; height: auto; float: left; }
  
  .block-grid.two-up { margin-left: -4% }
  .block-grid.two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
  /* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
  
  .block-grid.three-up { margin-left: -2% }
  .block-grid.three-up>li { margin-left: 2%; width: 31.2%; margin-bottom: 2%;}
  /* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
  
  .block-grid.four-up { margin-left: -2% }
  .block-grid.four-up>li { margin-left: 2%; width: 23%; margin-bottom: 2%;}
  /* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
  
  .block-grid.five-up { margin-left: -1.5% }
  .block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; margin-bottom: 1.5%;}
  /* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */
  
	
	
  /* Mobile */
	
	@media only screen and (max-width: 767px) {
		.block-grid.mobile { margin-left: 0; }
		.block-grid.mobile > li { float: none; width: 100%; margin-left: 0; }
	}

